<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceDespacho"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53331/ServiceDespacho.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDespacho" contract="DespachoWS.IServiceDespacho" name="BasicHttpBinding_IServiceDespacho"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
